<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVp5bvNmWavaaXoPwy109ikK5PPVoyCwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1025259963721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>demoflutter-f3cc2</string>
	<key>STORAGE_BUCKET</key>
	<string>demoflutter-f3cc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025259963721:ios:aaeb799860b6067fbb0698</string>
</dict>
</plist>